.node__dev
{
    background-color: rgb(240, 248, 255);
    border-radius: 1em;
    height: 10em;
    margin: 1em 0;
}

@media all and (max-width: 1024px)
{
    .node__dev
    {
        margin-bottom: 1em;
    }
}