.node__dev
{
    background-color: rgba(0, 255, 0, 0.534);
    border: 1px solid gray;
    border-radius: 1em;
    height: 10em;
    margin: 0 1em;
    width: 10em;
}

.dev__svg
{
    align-items: center;
    display: flex;
    height: 8em;
    justify-content: space-evenly;
    width: 10em;
}

@media all and (max-width: 1024px)
{
    .node__dev
    {
        margin-bottom: 1em;
    }
}