.back
{
    background-color: rgb(240, 248, 255);
    border-radius: 0.5em;
    height: 24.5em;
    width: 20em;
}

.java
{
    border: 0.14em solid gray;
    border-radius: 1em;
    margin: 1em 1em 0 1em;
    padding: 1em 5em;
}

.java__title
{
    font-family: 'Noto Sans Nandinagari', sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
}

.java__hard
{
    border: 0.1em solid gray;
    border-radius: 0.5em;
    height: 5em;
}

.back__others
{
    height: 10em;
    width: 80%;
}