.back
{
    background-color: rgb(240, 248, 255);
    border-radius: 0.5em;
}

.java
{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.14em solid gray;
    border-radius: 1em;

    padding: 0 1em;
}

.java__hard
{
    border: 0.1em solid gray;
    border-radius: 0.5em;
    height: 5em;
}

.java-pack
{
    border: 1px solid rgb(140, 140, 140);
    border-radius: 1em;
}

@media all and (max-width: 1024px)
{
    .back
    {
        margin-bottom: 1em;
    }
}