.body
{
    background-image: url(https://www.wallpapertip.com/wmimgs/32-325739_blue-technical-background-hd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    height: 100vh;
    padding: 0.1em 0;
}

.main
{
    display: flex;
        justify-content: center;

    height: 80%;
}

.tag
{
    background-color: rgba(163, 163, 163, 0.58);
    border: 1px solid white;
    border-radius: 1em;
    margin: 10em 0;
    width: 50%;
}

.icon
{
    background-color: rgba(255, 145, 0, 0.534);
    border: 1px solid white;
    border-radius: 1em;
}

.icon:hover
{
    background-color: rgb(255, 145, 0);
}