.body
{
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav
{
    align-items: center;
    background-color: rgb(10, 10, 153);
    display: flex;
    height: 8vh;
    justify-content: space-evenly;
    padding: 0vw;
}

.nav__link
{
    color: rgb(255, 255, 255);
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: 0.05vw;
    text-decoration: none;
}

.nav__link:hover
{
    color: silver;
}

.main
{
    align-items: center;
    background: url(https://www.wallpapertip.com/wmimgs/32-325739_blue-technical-background-hd.jpg);
    color: black;
    display: flex;
    justify-content: center;
    height: 92vh;
}

.skills
{
    align-items: center;
    display: flex;
    flex-direction: column;    
}

.skills__soft
{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.199);
    border: 0.1vw solid gray;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    margin: 1vw;
    padding: 1vw;
    width: 70vw;
}

.skills__hard
{

}


.soft__title, .hard__title
{
    font-size: 1.2vw;
    font-weight: 700;
}

.soft__node
{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.514);
    border: 0.1vw solid gray;
    border-radius: 0.7vw;
    display: flex;
    flex-direction: column;
    height: 5vw;
    justify-content: center;
    margin: 1vw;
    padding: 1vw;
    width: 20vw;
}

.soft__node p
{
    font-size: 0.9vw;
    font-weight: 700;
    letter-spacing: 0.05vw;
    text-align: left;
}

.hard__node
{
    display: flex;
}

p
{
    margin: 0;
}

.front
{
    align-items: center;
    background-color: aliceblue;
    border-radius: 0.5vw;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.back, .dev
{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.514);
    border: 0.1vw solid gray;
    border-radius: 0.7vw;
    display: flex;
    flex-direction: column;
    height: 10vw;
    justify-content: flex-start;
    margin: 1vw;
    padding: 1vw;
    width: 10vw;
}

.title
{
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 1vw;
}

.angular-hard
{
    display: flex;
}

.node
{
    align-items: center;
    display: flex;
    padding: 1vw;
}

.angular
{
    border: 0.14vw solid gray;
    border-radius: 1vw;
    margin: 1vw;
    padding: 1vw;
}

.angular__node
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.angular__title
{
    font-family: 'Noto Sans Nandinagari', sans-serif;
    font-size: 1vw;
    font-weight: bold;
    margin: 0.5vw 0;
}

.angular-hard
{
    align-items: center;
    border: 0.1vw solid gray;
    border-radius: 0.5vw;
    display: flex;
    height: 5vw;
    justify-content: center;
}

.p-1
{
    padding: 1vw 1vw 0 1vw;
}

.angular_svg
{
    padding: 0 0.4vw;
}

.front__other
{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0 2vw 1vw 2vw;
    width: 80%;
}