
/* 

    Estructura General:

        Main
        {
            Soft Skills

            Hard Skills
            {
                Front End
                Dev Ops
                Back End
            }
        }

*/

.body
{
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* Main */

    .main
    {
        align-items: center;
        background: url(https://www.wallpapertip.com/wmimgs/32-325739_blue-technical-background-hd.jpg);
        color: black;
        display: flex;
        justify-content: center;
        height: 92vh;
        padding: 0 10vw;
    }

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* Skills */

    .skills
    {
        align-items: center;
        display: flex;
        flex-direction: column;    
    }



/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* Hard Skills */

.skills__hard
{
    background-color: rgba(220, 220, 220, 0.39);
    border: 1px solid gray;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 50em;
}


.hard__title
{
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 1em;
}

.hard__node
{
    display: flex;
    justify-content: space-evenly;
}

p
{
    margin: 0;
}

.title
{
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 1em;
}

.node
{
    align-items: center;
    display: flex;
    padding: 1em;
}