.nav
{
    background-color: rgba(0, 0, 104, 0.815);
    border-radius: 0.5em;
    height: 5em;
    margin: 1em 3em;
}

.nav__link
{
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: silver;
    font-size: 1.1em;
    font-weight: 500;
    height: 4.5em;
    letter-spacing: 0.05em;
    text-decoration: none;
    width: 10em;
}

.nav__link:hover
{
    color: rgb(255, 255, 255);
}

.nav__active
{
    border-bottom: 5px solid rgb(0, 170, 255);
    color: white;
    padding-top: 0.3em;
}