html, body
{
    width: 100%;
    overflow: hidden;
}

.body
{
    background: url(../img/bg-blue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 100vh;
}

.tag
{
    background-color: rgba(255, 255, 255, 0.716);
    border-radius: .5em;
    border: 0;
    height: auto;
    width: 70%;
}

.tag__title
{
    font-size: 2em;
}

.tag__descripcion
{
    font-size: 1.1em;
}

.bg-fix
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tag__status
{
    background-image: url(../img/tag.svg);
    border-radius: 0 0 0.5em 0;
    color: rgb(0, 255, 17);
}
.tag__status p
{
    height: 2em;
    width: 15em;
}

.tag__type
{
    background-image: url(../img/tag-top.svg);
    border-radius: 0 0 .5em 0;
    color: orange;
}
.tag__type p
{
    
    height: 2em;
    width: 15em;
}