html, body
{
    width: 100%;
    overflow: hidden;
}

.body
{
    background: url(../img/bg-blue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 100vh;
}

.tag
{
    background-color: rgba(255, 255, 255, 0.716);
    border-radius: 0.5em;
    height: auto;
    width: 70%;
}

.tag__title
{
    font-size: 2em;
}

.tag__descripcion
{
    font-size: 1.1em;
}

.tag__advertencia
{
    background-color: rgba(0, 0, 0, 0.599);
    border-radius: 1em;
    color: rgb(0, 255, 17);
}

.tag__type
{
    background-color: rgba(0, 0, 0, 0.599);
    border-radius: 1em;
    color: orange;
}